!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: "utf-8"}
    %title= title 
    = stylesheet_link_tag "screen", media: "all"

    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1"}
    %link{rel:"alternate", type: "application/atom+xml", title: "#{I18n.t('app.name')} feed", href: "/feed.atom"}

    %meta{property: "og:title", content: title}
    %meta{property: "og:url", content: I18n.t('app.url')}
    %meta{property: "og:image",  content: uri("/images/public-glass.svg")}
    %meta{property: "og:site_name", content: I18n.t('app.name')}

  %body{class: (request.path.split(/\//).first unless root?)}
    %div{role: "container"}
      %header
        = partial 'header'

      %div{role: 'main'}
        = yield

      %footer
        = partial 'footer'
